<p id="notice"><%= notice %></p>

<h1>Course Certificates</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Course</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @course_certificates.each do |course_certificate| %>
      <tr>
        <td><%= course_certificate.user_id %></td>
        <td><%= course_certificate.course_id %></td>
        <td><%= link_to 'Show', course_certificate %></td>
        <td><%= link_to 'Edit', edit_course_certificate_path(course_certificate) %></td>
        <td><%= link_to 'Destroy', course_certificate, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Course Certificate', new_course_certificate_path %>
