<p id="notice"><%= notice %></p>

<h1>Course Lectures</h1>

<table>
  <thead>
    <tr>
      <th>Type</th>
      <th>Content</th>
      <th>Course</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @course_lectures.each do |course_lecture| %>
      <tr>
        <td><%= course_lecture.content_type %></td>
        <td><%= course_lecture.description %></td>
        <td><%= course_lecture.course_id %></td>
        <td><%= link_to 'Show', course_lecture %></td>
        <td><%= link_to 'Edit', edit_course_lecture_path(course_lecture) %></td>
        <td><%= link_to 'Destroy', course_lecture, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Course Lecture', new_course_lecture_path %>
